<div class='addPost-container'>
  <h1>Add Post</h1>
  <form id='addPost-form'>
    <input type='text' id='add-post-title' placeholder='Post Title' />
    <textarea
      type='text'
      id='add-post-desc'
      placeholder='Post description'
    ></textarea>
    <button type='submit'>Login</button>
  </form>
</div>
<hr id='dashboardHr' />
<h1 id='your-posts'>Your posts</h1>
<div id='dashboard-posts'>
  <div id='single-post'>
    <div id='post-header'>
      <h1 id='post-title'>Example post title</h1>
      <p id='post-date'>12/02/2022</p>
    </div>
    <p id='post-body'>
      Example post body description... Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Ipsum rerum, corporis est perferendis assumenda ratione
      quaerat nesciunt qui voluptatem a.
    </p>
    <div id='post-controls'>
      <button id='edit-post'>Edit post</button>
      <button id='delete-post'>Delete post</button>
    </div>
  </div>
  <div id='single-post'>
    <div id='post-header'>
      <h1 id='post-title'>Example post title</h1>
      <p id='post-date'>12/02/2022</p>
    </div>
    <p id='post-body'>
      Example post body description... Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Ipsum rerum, corporis est perferendis assumenda ratione
      quaerat nesciunt qui voluptatem a.
    </p>
    <div id='post-controls'>
      <button id='edit-post'>Edit post</button>
      <button id='delete-post'>Delete post</button>
    </div>
  </div>
</div>