<div id='homepage-posts'>
  <div id='single-post'>
    <div id='post-header'>
      <h1 id='post-title'>Example post title</h1>
      <p id='post-date'>12/02/2022</p>
    </div>
    <p id='post-body'>
      Example post body description... Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Ipsum rerum, corporis est perferendis assumenda ratione
      quaerat nesciunt qui voluptatem a.
    </p>
  </div>
  <div id='single-post'>
    <div id='post-header'>
      <h1 id='post-title'>Example post title</h1>
      <p id='post-date'>12/02/2022</p>
    </div>
    <p id='post-body'>
      Example post body description... Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Ipsum rerum, corporis est perferendis assumenda ratione
      quaerat nesciunt qui voluptatem a.
    </p>
  </div>
  <div id='single-post'>
    <div id='post-header'>
      <h1 id='post-title'>Example post title</h1>
      <p id='post-date'>12/02/2022</p>
    </div>
    <p id='post-body'>
      Example post body description... Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Ipsum rerum, corporis est perferendis assumenda ratione
      quaerat nesciunt qui voluptatem a.
    </p>
  </div>
  <div id='single-post'>
    <div id='post-header'>
      <h1 id='post-title'>Example post title</h1>
      <p id='post-date'>12/02/2022</p>
    </div>
    <p id='post-body'>
      Example post body description... Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Ipsum rerum, corporis est perferendis assumenda ratione
      quaerat nesciunt qui voluptatem a.
    </p>
  </div>
  <div id='single-post'>
    <div id='post-header'>
      <h1 id='post-title'>Example post title</h1>
      <p id='post-date'>12/02/2022</p>
    </div>
    <p id='post-body'>
      Example post body description... Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Ipsum rerum, corporis est perferendis assumenda ratione
      quaerat nesciunt qui voluptatem a.
    </p>
  </div>
</div>