<div id='homepage-posts'>
  {{#each posts as |post|}}
    <a id='single-post' href='/post/{{post.id}}'>
      <div id='post-header'>
        <p id='post-title'>{{post.title}}</p>
        <p id='post-date'>{{format_date post.created_at}}</p>
      </div>
    </a>

  {{/each}}
</div>
<script src='/javascript/home-page.js'></script>