<div id='page-singlepost'>
  <div id='single-post'>
    <div id='post-header'>
        <p id='post-title'>{{post.title}}</p>
        <p id='post-date'>{{format_date post.date}}</p>
    </div>
    <p id="post-body">{{post.description}}</p>
  </div>
</div
