/* -------- --------- --------- Root properties */
:root {
  --main-color: rgb(127, 255, 163);
  --main-color-hover: rgb(118, 234, 151);
  --base-transition: 0.1s all ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -------- --------- --------- Header */
.wrapper {
  position: relative;
}

header {
  top: 0;
  width: 100%;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 32px;
  background-color: #222;
}
/* Empty element to be used in tandem with space-between to fill in required space*/
#empty {
  width: 255px;
}

header h1 {
  cursor: pointer;
  user-select: none;
  width: 275px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--main-color);
}

nav a {
  font-size: 25px;
  margin-left: 10px;
  text-decoration: none;
  color: white;
}
nav a:hover {
  color: rgba(255, 255, 255, 0.75);
}

nav a:active {
  color: rgba(255, 255, 255, 0.6);
}

nav a:nth-child(1) {
  margin-left: 0;
}

.navItem.active {
  color: var(--main-color);
}

/* -------- --------- --------- Single Post (and one dashboard styling) */
#homepage-posts,
#dashboard-posts {
  margin: 0 20px;
}

#single-post {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px 10px;
  width: 70%;
  box-shadow: 5px 2px 10px 1px rgba(0, 0, 0, 0.15);
}

#dashboard-posts #single-post {
  width: 52%;
}

#post-header {
  background-color: var(--main-color);
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.1s all ease-in-out;
}

#homepage-posts #single-post #post-header:hover {
  background-color: var(--main-color-hover);
  transition: var(--base-transition);
}

#homepage-posts #single-post #post-header:active {
  background-color: var(--main-color);
}

#post-title,
#post-date {
  color: black;
  margin: 0 15px;
}

#post-title {
  font-size: 20px;
}
#post-date {
  font-size: 15px;
}

#post-body {
  overflow: scroll;
  padding: 15px 15px;
  height: 125px;
  font-size: 20px;
}

/* ----------------- Single post */
#page-singlepost {
  margin: 0 20px;
}

#comment-section {
  width: 70%;
  margin: 0 10px;
  background-color: rgba(0, 0, 0, 0.05);
}
#single-comment {
  display: flex;
  align-items: flex-start;
  height: 100px;
  margin: 0 10px;
}

#comment-wrapper {
  display: flex;
  align-items: center;
  margin: 20px 10px;
}

#post-user {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
}

#comment {
  font-size: 18px;
  margin-left: 10px;
}
#user {
  font-weight: 700;
  margin-right: 10px;
}

#page-singlepost hr {
  border: 2px solid white;
}

/* -------- --------- --------- Login / Sign up / Dashboard*/
.login-container,
.signup-container {
  margin: 20px 32px;
}

.login-container h1,
.signup-container h1 {
  font-size: 25px;
  margin-bottom: 5px;
}

#login-form,
#signup-form,
#addPost-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#login-form input,
#signup-form input,
#addPost-form input {
  margin-bottom: 6px;
  width: 275px;
  padding: 3px 0;
  text-indent: 7px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
#login-form input:nth-child(2),
#signup-form input:nth-child(3),
#addPost-form input:nth-child(2) {
  margin-bottom: 0;
}
#login-form input::placeholder,
#signup-form input::placeholder,
#addPost-form input::placeholder,
#addPost-form textarea::placeholder {
  opacity: 0.9;
  font-size: 15px;
}

#login-form button,
#signup-form button,
#addPost-form button {
  padding: 3px 30px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  background-color: var(--main-color);
}

#loginHr {
  margin-bottom: 30px;
  margin-top: 30px;
  width: 35%;
  margin-left: 32px;
  opacity: 0.5;
}

/* Dashboard */
.addPost-container h1 {
  font-size: 25px;
  margin-bottom: 5px;
}
#your-posts {
  font-size: 25px;
  margin-top: 30px;
  margin-left: 32px;
}
.addPost-container {
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 32px;
}

#addPost-form textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  resize: none;
  width: 500px;
  height: 100px;
  font-size: 15px;
  padding-top: 4px;
  padding-left: 6px;
  padding-right: 6px;
}

#addPost-form input {
  width: 500px;
}

#addPost-form textarea,
#addPost-form input {
  border: 1px solid rgba(0, 0, 0, 0.3);
}

#dashboardHr {
  width: 50%;
  margin-left: 32px;
}
#dashboard-posts #single-post {
  position: relative;
}

#dashboard-posts #single-post:nth-child(1) {
  margin-top: 10px;
}

#post-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#post-controls button {
  width: 150px;
  padding: 5px 30px;
  border: none;
  margin: 0 2px;
  background-color: var(--main-color);
  cursor: pointer;
}

#post-controls button:nth-child(2) {
  margin-right: 0;
}

#add-post {
  cursor: pointer;
  transition: var(--base-transition);
}

#add-post:hover {
  background-color: var(--main-color-hover);
  transition: var(--base-transition);
}

#add-post:active {
  background-color: var(--main-color);
}
