/* -------- --------- --------- Custom properties */
:root {
  --main-color: rgb(127, 255, 163);
}

/* -------- --------- --------- Root properties */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -------- --------- --------- Header */
.wrapper {
  position: relative;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 32px;
  background-color: #222;
}
/* Empty element to be used in tandem with space-between to fill in required space*/
#empty {
  width: 255px;
}

header h1 {
  width: 275px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--main-color);
}

nav a {
  font-size: 25px;
  margin-left: 10px;
  text-decoration: none;
  color: white;
}

nav a:nth-child(1) {
  margin-left: 0;
}

/* -------- --------- --------- Single Post */
#homepage-posts {
  margin: 0 20px;
}

#single-post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 35px 10px;
  width: 70%;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
}

#post-header {
  background-color: var(--main-color);
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#post-title,
#post-date {
  color: black;
  margin: 0 15px;
}

#post-title {
  font-size: 25px;
}
#post-date {
  font-size: 20px;
}

#post-body {
  overflow: scroll;
  padding: 15px 15px;
  height: 125px;
  font-size: 20px;
}

/* -------- --------- --------- Login / Sign up */
.login-container,
.signup-container {
  margin: 20px 32px;
}

.login-container h1,
.signup-container h1 {
  font-size: 25px;
  margin-bottom: 5px;
}

#login-form,
#signup-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#login-form input,
#signup-form input {
  margin-bottom: 6px;
  width: 275px;
  padding: 3px 0;
  text-indent: 7px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
#login-form input:nth-child(2),
#signup-form input:nth-child(3) {
  margin-bottom: 0;
}
#login-form input::placeholder,
#signup-form input::placeholder {
  opacity: 0.9;
  font-size: 15px;
}

#loginHr {
  width: 35%;
  margin-left: 32px;
  opacity: 0.5;
}

#login-form button,
#signup-form button {
  padding: 3px 30px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  background-color: var(--main-color);
}
